* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 4rem 0;

  padding-top: 2em;
  min-height: 100vh;
  background: linear-gradient(to top, rgb(25, 14, 63), rgb(72, 47, 155));
}